@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

.icon-home-1win{
    width: 40px;
}


 /* ========================  */


 *{
    padding: 0;
    margin: 0;
    border: 0;
    color: white;
    font-family: 'Roboto', sans-serif;

}
:before,:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
    height: 100%;
    width: 100%;
    font-style: 100%;
    line-height: 1;
    font-style: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #090F1E;
    
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}


*{
    --main-background-color :  #090F1E;
    --1win-games-block-bg-c :   #151C30;
    --white-color           :   #fff;
}

.index__1win-games-middle-content-container{
    display: flex;
    justify-content: space-between;
}

.index__1win-games-left-block,
.index__1win-poker-right-block{
    width: 48vw;
    height: 25vh;
    border-radius: 20px;
    background-color: var(--1win-games-block-bg-c);
}

.index__1win-games-left-block{
    margin-left: 25px ;
}

.index__1win-games-left-block .index__1win-games-pre-header-line{
    width: 44vw;
    height: 5px;
    background: linear-gradient(#14b3e8, #1465a3);
    margin: 0 auto;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.index__1win-poker-right-block{
    margin-right: 25px;
}
.index__top-navbar-left-container{
    display: flex;
}
.index__top-navbar-left-container div{
    background: #000;
}

.index__1win-games-left-block .index__1win-games-header{
    margin: 25px 40px;
}

.index__bonus-category{
    display: grid;
    grid-template-columns: 116vh 41vh 1vh;
    margin-left: 4vh;
}

.index__1winTV-films{
    display: grid;
    grid-template-columns: 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh;
    margin-top: 3vh;
}

.index__1winTV-content{
    background-color:   #151C30;
    width: 1475px;
    height: 300px;
    margin-left: 2.5vh;
    border-radius: 25px;
}

.index__1winTV-container{
    margin-top: 3vh;
    padding-bottom: 5vh;
}

.index__1win-games-left-block .index__1win-games-header .index__1win-games-header-level{
    display: flex;      
    justify-content: space-between; 
}

.index__1win-games-left-block .index__1win-games-header .index__1win-games-header-level h1 .span-text{
    margin-left: 15px;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}

.index__1win-games-left-block .index__1win-games-header .index__1win-games-header-level h1 .span-svg{
    margin-top: 20px;
}

.index__1winTV-films{
    margin-left: 2.5vh;
}

.index__1winTV-top-left-text{
    margin-left: 5vh;
}

.index__1winTV-top-right-text{
    margin-right: 5vh;
    display: flex;
    justify-content: space-around;
}

.index__1winTV-top-right-icons{
    margin-left: 1vh;
}

.index__1winTV-top-left-text span{
    color: #969696;
    font-size: small;
}

.index__1winTV-top-right-text p{
    color: #1465a3;
    font-weight: bold;
}

.index__1winTV-top-container{
    display: flex;
    justify-content: space-between;
    padding-top: 2vh;
}

.index__1winTV-film-name{
    margin-left: 5vh;
    margin-top: 2vh;
}
.index__1winTV-film-GranTurismo{
    margin-left: 1vh;
    margin-top: 2vh;
}
.index__1winTV-film-John-Wick{
    margin-left: 2vh;
    margin-top: 2vh;
}
.index__1winTV-film-guardians{
    margin-top: 2vh;
}
.index__1winTV-film-flash{
    margin-left: 5vh;
    margin-top: 2vh;
}
.index__1winTV-film-black-adam{
    margin-left: 2vh;
    margin-top: 2vh;
}
.index__1winTV-film-fastX{
    margin-left: 2vh;
    margin-top: 2vh;
}
.index__1winTV-film-avatar{
    margin-left: 3vh;
    margin-top: 2vh;
}
.index__1winTV-film-Oppenheimer{
    margin-left: 1vh;
    margin-top: 2vh;
}
.index__1winTV-film-GranTurismo p{
    color: #969696;
}
.index__1winTV-film-John-Wick p{
    color: #969696;
}
.index__1winTV-film-guardians p{
    color: #969696;
}
.index__1winTV-film-flash p{ 
    color: #969696;
}
.index__1winTV-film-black-adam p{
    color: #969696;
}
.index__1winTV-film-fastX p{
    color: #969696;
}
.index__1winTV-film-avatar p{
    color: #969696;
}
.index__1winTV-film-Oppenheimer p{
    color: #969696;
}
.index__1winTV-film-name p{
    color: #969696;
}

.index__1winTV-film-banner img{
    border-radius: 10px;
    height: 25vh;
}

.tvbetd{
    color: white;
    font-family: 'Poppins', sans-serif;
}

.livegamed{
    color: white;
    font-family: 'Poppins', sans-serif;
}

.index__categorybutton-firstblock{
    background-color: #1465a3;
    margin-left: 3vh; 
}
